body {
    font-family: "Arial", "Helvetica Neue", "Helvetica, sans-serif";
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px; 
    margin: auto;
}

header, nav, footer {
    background: #ebebeb;
    width: 960px;
    padding: 30px;
    margin: 10px;
    overflow: auto;
    text-align: center;
}

nav {
    margin-bottom: 20px;
}

footer {
    margin-top: 20px;
}

header {
    margin-bottom: 5px;
}

section {
    background:#ebebeb;
    width: 495px;
    height: auto;
    float: left;
    text-align: center;
    padding: 20px;
}

aside {
    background: #ebebeb;
    position: relative;
    left: 550px;
    width: 48%;
    height: auto;
    text-align: center;
}

article {
    color: #ebebeb;
    background: #777;
    width: 90%;
    padding: 20px;
    margin: 5px;
}

h1, p {
    color: #777;
    background: #ebebeb;
    width: 435px;
    margin: 5px;
    padding: 5px;
}

.wrapper {
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */
  
    max-width: 960px; /* 2 */
  
    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */
  }